# **Nhiệm vụ 2 - Truy vấn & thống kê mô tả**
*Mục tiêu : thực hành truy xuất dữ liệu và rút ra các thống kê cơ bản*

In [1]:
# import libary
import pandas as pd

# Read csv
df_teams = pd.read_csv(f'./data_clean/team_info_clean.csv')
df_players = pd.read_csv(f'./data_clean/player_stats_clean.csv')
df_matches = pd.read_csv(f'./data_clean/match_results_clean.csv')

**1. Thống kê số đội bóng theo home_city**

In [2]:
team_count = df_teams.groupby('home_city').size().reset_index(name='team_count')
team_count

       home_city  team_count
0        Da Nang           2
1         Ha Noi           5
2  Thanh pho Hcm           1

**2. Thống kê số cầu thủ theo mỗi đội bóng**

In [3]:
player_count = df_players.groupby('team_id').size().reset_index(name='player_count')
player_count = player_count.merge(
    df_teams[['team_id', 'team_name']],
    on='team_id',
    how='left'
)
player_count

  team_id  player_count          team_name
0     T01            14  Clb Thanh Pho Hcm
1     T02             9      Clb Hai Phong
2     T03            11         Clb Ha Noi
3     T04            14      Clb Hai Phong
4     T05             9  Clb Thanh Pho Hcm
5     T06             8         Clb Ha Noi
6     T07            13     Clb Binh Duong
7     T08            13     Clb Binh Duong

**3. Danh sách cầu thủ ghi được nhiều hơn một số bàn thắng nhất định (>=5)**

In [9]:
player_with_team = df_players.merge(
    df_teams[['team_id', 'team_name']],
    on='team_id',
    how='left'
)
top_scorers = player_with_team[player_with_team['goals'] >= 5][
    ['player_id', 'player_name', 'team_name', 'goals']
].sort_values('goals', ascending=False)
top_scorers

   player_id      player_name          team_name  goals
8       P009        Hoang Duc  Clb Thanh Pho Hcm      7
11      P012     Nguyen Van A  Clb Thanh Pho Hcm      7
30      P031  Pham Thanh Luan         Clb Ha Noi      7
63      P064        Hoang Duc         Clb Ha Noi      7
27      P028     Le Cong Vinh         Clb Ha Noi      7
34      P035        Hoang Duc      Clb Hai Phong      7
33      P034       Tran Van B         Clb Ha Noi      7
55      P056  Pham Thanh Luan  Clb Thanh Pho Hcm      7
57      P058     Le Cong Vinh         Clb Ha Noi      7
51      P052     Nguyen Van A  Clb Thanh Pho Hcm      7
9       P010     Nguyen Van A  Clb Thanh Pho Hcm      5
44      P045     Nguyen Van A      Clb Hai Phong      5
43      P044  Pham Thanh Luan      Clb Hai Phong      5
26      P027       Tran Van B         Clb Ha Noi      5
15      P016     Nguyen Van A      Clb Hai Phong      5
66      P067     Le Cong Vinh     Clb Binh Duong      5
71      P072        Hoang Duc     Clb Binh Duong      5
72      P073  Pham Thanh Luan     Clb Binh Duong      5
87      P088     Le Cong Vinh     Clb Binh Duong      5

**4. Thống kê số trận đấu đã diễn ra trong mùa giải theo tháng**

In [5]:
matches_per_month = (
    df_matches.groupby(pd.to_datetime(df_matches['match_date']).dt.to_period('M'))
        .size()
        .reset_index(name='match_count')
        .rename(columns={'match_date': 'month'})
)
matches_per_month

     month  match_count
0  2024-01            8
1  2024-02            8
2  2024-03           10
3  2024-04           11
4  2024-05            7
5  2024-06           16

**5. Các trận đấu có tỷ số cách biệt lớn nhất**

In [6]:
df_matches['hieu_so'] = (df_matches['home_goals'] - df_matches['away_goals']).abs()
max_diff = df_matches['hieu_so'].max()
matches = df_matches[df_matches['hieu_so'] == max_diff]
matches

,match_id,home_team_id,away_team_id,home_goals,away_goals,match_date,hieu_so
19,M020,T07,T03,4,0,2024-05-31,4
29,M030,T02,T05,4,0,2024-03-19,4
45,M046,T07,T01,4,0,2024-01-30,4